In [2]:
import os
import pandas as pd
import json

dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dk = []
for state_dir in os.listdir(dir):
    for year_dir in os.listdir(os.path.join(dir, state_dir)):
        year = year_dir[:4] 
        for quarter_dir in os.listdir(os.path.join(dir, state_dir, year_dir)):
            quarter = quarter_dir.split('_')[-1]  
    
            for filename in os.listdir(os.path.join(dir, state_dir, year_dir, quarter_dir)):
                if filename.endswith('.json'):
            
                    filepath = os.path.join(dir, state_dir, year_dir, quarter_dir, filename)
                    with open(filepath, 'r') as f:
                        json_data = json.load(f)
                    transaction_data = json_data['data']['transactionData']
                
                    for transaction in transaction_data:
                        transaction_name = transaction['name']
                        for payment_instrument in transaction['paymentInstruments']:
                            payment_type = payment_instrument['type']
                            payment_count = payment_instrument['count']
                            payment_amount = payment_instrument['amount']
                        
                            # Create a new row for the dataframe
                            row = {
                                'state': state_dir,
                                'year': year,
                                'quarter': quarter,
                                'transaction_type': transaction_name,
                                'transaction_count': payment_count,
                                'transaction_amount': payment_amount
                            }
                        
                        
                            dk.append(row)

                        
                     

df = pd.DataFrame(dk)

NotADirectoryError: [WinError 267] The directory name is invalid: 'D:\\dakeshna\\Django Python\\link\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\andaman-&-nicobar-islands\\2018\\1.json'

In [15]:
dir = r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dk = []
for state_dir in os.listdir(dir):
    for year_dir in os.listdir(os.path.join(dir, state_dir)):
        year = year_dir[:4] 
        for quarter_dir in os.listdir(os.path.join(dir, state_dir, year_dir)):
            if os.path.isdir(os.path.join(dir, state_dir, year_dir, quarter_dir)):
                quarter = quarter_dir.split('_')[-1]  

                for filename in os.listdir(os.path.join(dir, state_dir, year_dir, quarter_dir)):
                    if filename.endswith('.json'):

                        filepath = os.path.join(dir, state_dir, year_dir, quarter_dir, filename)
                        with open(filepath, 'r') as f:
                            json_data = json.load(f)
                        transaction_data = json_data['data']['transactionData']

                        for transaction in transaction_data:
                            transaction_name = transaction['name']
                            for payment_instrument in transaction['paymentInstruments']:
                                payment_type = payment_instrument['type']
                                payment_count = payment_instrument['count']
                                payment_amount = payment_instrument['amount']

                                # Create a new row for the dataframe
                                row = {
                                    'state': state_dir,
                                    'year': year,
                                    'quarter': quarter,
                                    'transaction_type': transaction_name,
                                    'payment_type': payment_type,
                                    'payment_count': payment_count,
                                    'payment_amount': payment_amount
                                }
                                dk.append(row)

df= pd.DataFrame(dk)
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [17]:
print(len(dk))

0

In [18]:
path=r'D:\dakeshna\Django Python\link\pulse\data\aggregated\transaction\country\india\state'
dir_list_agg = os.listdir(path)
fin_df = pd.DataFrame()
for state in dir_list_agg:
    path1 = path + "//" + state
    dir_list2 = os.listdir(path1)
    for year in dir_list2:
        path2 = path1 + "//" + year
        dir_list3 = os.listdir(path2)
        for qtr in dir_list3:
            path3 = path2 + "//" + qtr
            data=open(path3,'r')
            Agg_D=json.load(data)
            columns={'State':[],'Year':[],'Quater':[],'Transactiontype':[],'TransactionCount':[],'TransactionAmount':[]}
            for m in Agg_D['data']['transactionData']:
                       Name=m['name']
                       count=m['paymentInstruments'][0]['count']
                       amount=m['paymentInstruments'][0]['amount']
                       columns['Transactiontype'].append(Name)
                       columns['TransactionCount'].append(count)
                       columns['TransactionAmount'].append(amount)
                       columns['State'].append(state)
                       columns['Year'].append(year)
                       columns['Quater'].append(int(qtr.strip('.json')))
                       C_Data=pd.DataFrame(columns)
                       fin_df = pd.concat([fin_df,C_Data])

In [28]:
amount

457937874.8149981

In [19]:
fin_df

,State,Year,Quater,Transactiontype,TransactionCount,TransactionAmount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
...,...,...,...,...,...,...
0,west-bengal,2022,4,Peer-to-peer payments,184380244,6.202222e+11
1,west-bengal,2022,4,Merchant payments,171667404,1.408077e+11
2,west-bengal,2022,4,Recharge & bill payments,48921147,2.602663e+10
3,west-bengal,2022,4,Financial Services,268388,2.611229e+08
4,west-bengal,2022,4,Others,610414,4.579379e+08

In [30]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
fin_df.to_excel("D:\dakeshna\Django Python\phonepe.xlsx")
pd.read_excel("D:\dakeshna\Django Python\phonepe.xlsx")
print(fin_df)

                        State  Year  Quater           Transactiontype
0   andaman-&-nicobar-islands  2018       1  Recharge & bill payments  \
0   andaman-&-nicobar-islands  2018       1  Recharge & bill payments
1   andaman-&-nicobar-islands  2018       1     Peer-to-peer payments
0   andaman-&-nicobar-islands  2018       1  Recharge & bill payments
1   andaman-&-nicobar-islands  2018       1     Peer-to-peer payments
..                        ...   ...     ...                       ...
0                 west-bengal  2022       4     Peer-to-peer payments
1                 west-bengal  2022       4         Merchant payments
2                 west-bengal  2022       4  Recharge & bill payments
3                 west-bengal  2022       4        Financial Services
4                 west-bengal  2022       4                    Others

    TransactionCount  TransactionAmount
0               4200       1.845307e+06
0               4200       1.845307e+06
1               1871       1.213866e+07
0               4200       1.845307e+06
1               1871       1.213866e+07
..               ...                ...
0          184380244       6.202222e+11
1          171667404       1.408077e+11
2           48921147       2.602663e+10
3             268388       2.611229e+08
4             610414       4.579379e+08

[10770 rows x 6 columns]